DATABASE_URL = "sqlite:///./data/test.db"
PUBLIC_KEY_PATH = 'secrets/public.pem'
PRIVATE_KEY_PATH = 'secrets/private.pem'
PUBLIC_KEY_CONTENT = '' # USED BY DOCKER ENTRYPOINT.SH
PUBLIC_KEY_CONTENT = '' # USED BY DOCKER ENTRYPOINT.SH
JWT_ALGORITHM = "RS256"
JWT_EXPIRATION_MINUTES = 60
RELOAD = false