AZURE_RESOURCE_GROUP=fastapi
AZURE_WEBAPP_NAME=fastapimanav
AZURE_CREDENTIALS={"clientId": "6ca139b7xxxxxxxxxxxxxxxxxxxxxxxx", "clientSecret": "WbM8Q~jxxxxxxxxxxxxxxxx", "tenantId": "16c20b73-xxxxxxxxxxxxxx","subscriptionId": "881bf388-xxxxxxxxxxxxx"} 
DOCKER_PASSWORD=dckr_pat_xxxxxxxxxxxxxxxxxx
DOCKER_REPO=manavkhandurie
DOCKER_USERNAME=fastapi-learning

# A SAMPLE FOR GIT REPO SECRETS 